<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="main">
    

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZoccc4EfWOS2RWrYoqcFcS64lU4pnXXU&libraries=places&callback=initAutocomplete" async defer></script>

<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <!-- <%= link_to current_user.first_name, profile_path(current_user), class: "btn btn-info" %> -->
        <a href="/profile" class="brand-logo right"><%= current_user.first_name %></a>
        <!-- <div id="nav-mobile" class="left"> -->
        <div class="input-field">
          <input id="search" class="search-field" placeholder="Enter and choose a place" onFocus="geolocate()" type="search"></input>
          <i class="material-icons">cancel</i>
        </div>
      </div>
    </nav>
</div>







</div>

